@font-face {
    font-family: 'AerosRegular';
    src: url('./fonts/AerosRegular.svg#AerosRegular') format('svg'),
    url('./fonts/AerosRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aeros';
    src: url('./fonts/aeros.eot');
    src: url('./fonts/aeros.eot?#iefix') format('embedded-opentype'),
    url('./fonts/aeros.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url('./fonts/redhat/RedHatDisplay-BlackItalic.eot');
    src: url('./fonts/redhat/RedHatDisplay-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/redhat/RedHatDisplay-BlackItalic.woff2') format('woff2'),
    url('./fonts/redhat/RedHatDisplay-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url('./fonts/redhat/RedHatDisplay-Black.eot');
    src: url('./fonts/redhat/RedHatDisplay-Black.eot?#iefix') format('embedded-opentype'),
    url('./fonts/redhat/RedHatDisplay-Black.woff2') format('woff2'),
    url('./fonts/redhat/RedHatDisplay-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url('./fonts/redhat/RedHatDisplay-Bold.eot');
    src: url('./fonts/redhat/RedHatDisplay-Bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/redhat/RedHatDisplay-Bold.woff2') format('woff2'),
    url('./fonts/redhat/RedHatDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url('./fonts/redhat/RedHatDisplay-Regular.eot');
    src: url('./fonts/redhat/RedHatDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/redhat/RedHatDisplay-Regular.woff2') format('woff2'),
    url('./fonts/redhat/RedHatDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url('./fonts/redhat/RedHatDisplay-MediumItalic.eot');
    src: url('./fonts/redhat/RedHatDisplay-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/redhat/RedHatDisplay-MediumItalic.woff2') format('woff2'),
    url('./fonts/redhat/RedHatDisplay-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url('./fonts/redhat/RedHatDisplay-Medium.eot');
    src: url('./fonts/redhat/RedHatDisplay-Medium.eot?#iefix') format('embedded-opentype'),
    url('./fonts/redhat/RedHatDisplay-Medium.woff2') format('woff2'),
    url('./fonts/redhat/RedHatDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url('./fonts/redhat/RedHatDisplay-Italic.eot');
    src: url('./fonts/redhat/RedHatDisplay-Italic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/redhat/RedHatDisplay-Italic.woff2') format('woff2'),
    url('./fonts/redhat/RedHatDisplay-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url('./fonts/redhat/RedHatDisplay-BoldItalic.eot');
    src: url('./fonts/redhat/RedHatDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/redhat/RedHatDisplay-BoldItalic.woff2') format('woff2'),
    url('./fonts/redhat/RedHatDisplay-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: radial-gradient(126.16% 88.06% at 33.49% -22.78%, #535353 0%, #000000 100%);
}

img {
    image-rendering: smooth;
}

.section {
    font-family: 'AerosRegular';
    color: #fff;
}

.normal-text {
    font-family: 'Red Hat Display';
}

#scene-1 {
    top: 50%;
    right: 2.5rem
}

#scene-2 {
    top: 33%;
    left: 2.5rem
}

#scene-3 {
    top: 66%;
    left: 5rem
}

.planet-background {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header-bottom-border {
    height: 1px;
    /* background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 50.52%, rgba(255, 255, 255, 0) 100%); */
    /*background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 50.52%, rgba(255, 255, 255, 0) 100%);*/
    /*opacity: 0.6;*/
    background: transparent;
}

.cta-item{
    text-align: center;
}

* {
    box-sizing: border-box;
}

.is_footer.active .section-footer {
    display: block;
}

.section-footer {
    position: absolute;
    bottom: 0;
    display: none;
    min-height: 60px;
    background: #111111;
    width: 100%;
    z-index: 999;
}

.footer-body {
    justify-content: center;
    margin: 20px 0;
    flex-direction: column;
    width: 100%;
}

.footer-text {
    margin-bottom: 15px;
    font-family: 'Red Hat Display';
    font-style: italic;
    font-weight: 450;
    font-size: 14px;
    line-height: 25px;
    text-align: justify;
}

.px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.container {
    max-width: 1320px;
    margin: auto;
}

.bg {
    background: radial-gradient(126.16% 88.06% at 33.49% -22.78%, #535353 0%, #000000 100%);
}

.info h2 {
    font-family: Aeros;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 134.3%;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.info p {
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 160.3%;
    color: #FFFFFF;
}

.row {
    width: 100%;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}

.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

.col {
    flex: 1 0 0%;
}

.col-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
}

.col-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}

.col-3 {
    flex: 0 0 auto;
    width: 25%;
}

.col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.col-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
}

.col-6 {
    flex: 0 0 auto;
    width: 50%;
}

.col-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
}

.col-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}

.col-9 {
    flex: 0 0 auto;
    width: 75%;
}

.col-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
}

.col-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
}

@media (min-width: 992px) {
    .col {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
}

@media (max-width: 576px) {
    .col {
        flex: 0 0 auto;
        width: 50%;
    }
}

@media (min-width: 576px) {
    .col-sm {
        flex: 1 0 0%;
    }

    .col-sm-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }

    .col-sm-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    .col-sm-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-sm-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col-sm-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }

    .col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-sm-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .col-sm-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .col-sm-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-sm-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }

    .col-sm-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }

    .col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (min-width: 768px) {
    .col-md-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }

    .col-md-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    .col-md-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-md-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col-md-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }

    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-md-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .col-md-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .col-md-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-md-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }

    .col-md-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }

    .col-md-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

/*@media (min-width: 992px) {*/
/*    .col-lg {*/
/*        flex: 1 0 0%;*/
/*    }*/

/*    .col-lg-1 {*/
/*        flex: 0 0 auto;*/
/*        width: 8.33333333%;*/
/*    }*/

/*    .col-lg-2 {*/
/*        flex: 0 0 auto;*/
/*        width: 16.66666667%;*/
/*    }*/

/*    .col-lg-3 {*/
/*        flex: 0 0 auto;*/
/*        width: 25%;*/
/*    }*/

/*    .col-lg-4 {*/
/*        flex: 0 0 auto;*/
/*        width: 33.33333333%;*/
/*    }*/

/*    .col-lg-5 {*/
/*        flex: 0 0 auto;*/
/*        width: 41.66666667%;*/
/*    }*/

/*    .col-lg-6 {*/
/*        flex: 0 0 auto;*/
/*        width: 50%;*/
/*    }*/

/*    .col-lg-7 {*/
/*        flex: 0 0 auto;*/
/*        width: 58.33333333%;*/
/*    }*/

/*    .col-lg-8 {*/
/*        flex: 0 0 auto;*/
/*        width: 66.66666667%;*/
/*    }*/

/*    .col-lg-9 {*/
/*        flex: 0 0 auto;*/
/*        width: 75%;*/
/*    }*/

/*    .col-lg-10 {*/
/*        flex: 0 0 auto;*/
/*        width: 83.33333333%;*/
/*    }*/

/*    .col-lg-11 {*/
/*        flex: 0 0 auto;*/
/*        width: 91.66666667%;*/
/*    }*/

/*    .col-lg-12 {*/
/*        flex: 0 0 auto;*/
/*        width: 100%;*/
/*    }*/
/*}*/

.m-auto {
    margin: auto !important;
}

.gx-5 {
    --bs-gutter-x: 3rem;
}

.gy-5 {
    --bs-gutter-y: 3rem;
}


.portfolio:hover .title {
    color: #FFFFFF;
}

.portfolio {
    text-align: center;
    -webkit-transition: .5s;
    border-radius: 10px;
    transition: .5s;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    background: transparent;
}

.portfolio .title {
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 160.3%;
    text-align: center;
    color: transparent;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    transition: .1s;
    -webkit-transition: .1s;
}

.portfolio .img {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 1430px) {
    .portfolio .img {
        width: 200px;
        height: 200px;
    }

}





.portfolio .img img {


}

/*
.portfolio .img:hover {
  background: rgba(255, 255, 255, 0.2);
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px)
}
*/


@media screen and (max-width: 46.8125em) {
    .display--desktop {
        display: none !important
    }
}

@media screen and (min-width: 46.8125em) {
    .hide--desktop {
        display: none !important
    }
}

@media screen and (min-width: 46.8125em) {
    .display--mobile {
        display: none !important
    }
}

@media screen and (max-width: 46.8125em) {
    .hide--mobile {
        display: none !important
    }
}

.text-start {
    text-align: left !important;
}

.text-end {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.d-none {
    display: none !important;
}

@media screen and (max-width: 46.8125em) {
    .info .text-start, .info .text-end {
        text-align: center !important;
    }
}

.h-title {
    font-family: Aeros;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 79px;
    /* identical to box height */

    text-transform: uppercase;

    color: #FFFFFF;
}

.socials {
    margin-left: auto;
    padding: 0 20px;
}

.info img {
    margin: auto;
}

@media screen and (max-width: 46.8125em) {
    #menulist.hide--mobile {
        -webkit-transform: translate3d(-100%, 0px, 0px);
        transform: translate3d(-100%, 0px, 0px);
        visibility: visible;
        transition: all 0.5s ease 0s;
        -webkit-transition: all 0.5s ease 0s;
    }

    #menulist {
        -webkit-transform: translate3d(0px, 0px, 0px);
        transform: translate3d(0px, 0px, 0px);
        visibility: visible;
    }

    .info h2 {
        font-size: 20px;
    }

    .info p {
        font-size: 14px;
    }

    .info img {
        max-width: 300px !important;
    }

    .logo {
        width: 100% !important;
    }

    .h-title {
        font-size: 20px;
    }

    .footer-text {
        font-size: 14px;
    }
}

.info, .portfolio-container {
    z-index: 9;
}

.bg_rotate:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: radial-gradient(126.16% 88.06% at 33.49% -22.78%, #535353 0, #000 100%);
    /* transform: rotate(180deg); */
    transform: scaleY(-1);
    z-index: 1;
}

.astrov-body {
    position: relative;
}

.header {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999999999;
    display: flex;
    min-height: 80px;
}

.relative {
    position: relative;
}

.footer-body .socials {
    margin: auto;
}

body.fp-viewing-0 #fullpage {
    transform: translate3d(0px, 0px, 0px) !important;
}

.portfolio-container {
    justify-content: center;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
    padding: 20px;
    z-index: 1;
    clear: both;
    margin-top: 20px;
    background: #131212;
    border: 1px solid #1f1e1e;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.footer-bottom-border {
    height: 1px;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 50.52%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.6;
    z-index: 99;
}

.footer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
}

.footer-bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 999999;
}

.portfolio:hover {
    box-shadow: 0 0 25px 10px rgb(255 255 255 / 40%) !important;
}

.hover\:box-shadow-light:hover .opacity-0 {
    opacity: 1
}

.planet_1 {
    max-width: 450px;
}

.planet_2 {
    max-width: 320px;
}

.planet_3 {
    max-width: 160px;
}

.planet_text {
    font-size: 1.8rem !important;
    bottom: 1.3rem !important;
}

@media screen and (max-width: 1430px) {
    .planet_1 {
        width: 280px !important;
    }

    .planet_2 {
        width: 180px !important;
    }

    .planet_3 {
        width: 100px !important;
    }

    .planet_text {
        font-size: 1rem !important;
        bottom: .4rem !important;
    }

    #scene-1 {
        width: 200px;
    }

    #scene-2 {
        width: 100px;

    }

    #scene-3 {
        width: 50px;
    }


}

.section-header {
    margin-top: 68px;
}


.info1, .info2 {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.info1 .container, .info2 .container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.info1 .info, .info2 .info {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}


@media screen and (max-width: 46.8125em) {
    .info .info-mt-auto {
        margin-top: auto;
    }

    .info .info-mb-auto {
        margin-bottom: auto;
    }
}


@media screen and (max-width: 1430px) {
    .info h2 {
        font-size: 25px;
        padding-left: 10px;
    }

    .info p {
        font-size: 19px;
        padding-left: 10px;
    }
}


@media screen and (max-width: 1430px) {
    .info img {
        max-width: 300px !important;
    }
    .h-title{
        font-size: 1.875rem;
        line-height: 2.25rem;
    }
}

#contact_header {
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-left: 0;
}

#contact_email {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

@media (min-width: 1430px) {
    #contact_header {
        font-size: 3rem !important;
        line-height: 1 !important;
        margin-top: auto;
        margin-left: 0;
    }

    #contact_email {
        font-size: 1.5rem;
        line-height: 2rem;
        margin-top: auto;
    }
    .info h2{
        font-size: 3rem !important;
        line-height: 1 !important;
    }
    .info-mt-auto h2{
        font-size: 3rem !important;
        line-height: 1 !important;
    }

}
